BasedOnStyle: LLVM

SortIncludes: Never

# Breaks
BreakConstructorInitializers: AfterColon

AllowAllConstructorInitializersOnNextLine: true

# Packs
PackConstructorInitializers: BinPack

# Indentation
UseTab: Never
IndentWidth: 8
TabWidth: 8

# Short inline statements
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
